body {
  background-color: black;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: black;
  overflow: hidden;
}

.Rotating-image { 
  height: 100vh; 
  overflow: hidden; 
  border-radius: 50%; 
} 

@media (prefers-reduced-motion: no-preference) {
  .Rotating-image {
    animation: App-logo-spin infinite 60s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
