.section {
    background-color: #111;
    padding: 5px;
    max-width: 550px;
    margin: 5px;
    border-radius: 10px;
    color: white;
}

.scrollableSection {
    background-color: #111;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    overflow-x: auto;
}

.detailSection {
    background-color: #222;
    padding: 5px;
    max-width: 450px;
    margin: 5px;
    border-radius: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 50px;
}

.weightField {
    display: inline-block;
    width: 125px;
}

.flowerDisplay {
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    overflow: hidden
}

.flowerText {
    display: inline-block;   
    font-size: clamp(10px, 80.0%, 18px);
    text-overflow: clip;
}

.colorSquare {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.colorOption {
    background-color: #222;
    width: 125px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    color: white;
}

.colorOption:hover {
    background-color: #333;
}

.comboInput {
    width: 150px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.comboButton {
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    /* width: 10px; */
    height: 23px;
    position: relative;
    left: -88px;
    top: 8px;
}

.comboButtonButton {
    display: inline-block;
    background: transparent;
    width: 23px;
    height: 23px;
    background-image: url("/public/images/icons/drop.png");
    background-size: contain;
}

.comboPreview {
    display: inline-block;
}

.detailButton {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 50px;
}

.detailButton:disabled {
    color: #555;
    background-color: #222;
}