.section {
    background-color: #111;
    padding: 5px;
    max-width: 550px;
    margin: 5px;
    border-radius: 10px;
    color: white;
}

.scrollableSection {
    background-color: #111;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    overflow-x: auto;
}

.detailSection {
    background-color: #222;
    padding: 5px;
    max-width: 450px;
    margin: 5px;
    border-radius: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 50px;
}

.weightField {
    display: inline-block;
    width: 125px;
}

.flowerDisplay {
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: white;
}

.flowerText {
    display: inline-block;   
    font-size: clamp(8px, 3.5vw, 16px);
}