.Rotating-image { 
  overflow: hidden; 
  border-radius: 50%; 
} 

.Rotating-image.small {
  height: 40px;
}

@media all and (orientation:portrait) {
  .Rotating-image.fullSize {
    width: 100vw;
  }
}
@media all and (orientation:landscape) {
  .Rotating-image.fullSize {
    height: 100vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fullSize.fastRotation {
    animation: Rotating-image-spin infinite 60s linear;
  }
  .fullSize.mediumRotation {
    animation: Rotating-image-spin infinite 300s linear;
  }
  .fullSize.slowRotation {
    animation: Rotating-image-spin infinite 600s linear;
  }
  .small.fastRotation {
    animation: Rotating-image-spin infinite 6s linear;
  }
  .small.mediumRotation {
    animation: Rotating-image-spin infinite 30s linear;
  }
  .small.slowRotation {
    animation: Rotating-image-spin infinite 60s linear;
  }
}

@keyframes Rotating-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Rotating-image.bright {
  opacity: 1;
}

.Rotating-image.mediumBright {
  opacity: .5;
}

.Rotating-image.dark {
  opacity: .33;
}

.Rotating-image.black {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .Rotating-image.Rotating-image.fullSize.fadeFast {
    animation: Fading-Timer forwards 900s linear;
  }
  .Rotating-image.Rotating-image.fullSize.fadeSlow {
    animation: Fading-Timer forwards 6400s linear;
  }
  .Rotating-image.small.fadeFast {
    animation: Fading-Timer infinite 3s linear;
  }
  .Rotating-image.small.fadeSlow {
    animation: Fading-Timer infinite 6s linear;
  }
}

@keyframes Fading-Timer {
  to {
    opacity: 0;
  }
}