.Cube-container {
	position: relative; overflow: hidden;

	/* put the size you want your 3D scene to be here */
	/* width: 100vw; height: 100vh; */

}


@media all and (orientation:portrait) {
	.Cube-container {
		width: 100vw; height: 100vw;
	}
  }
  @media all and (orientation:landscape) {
	.Cube-container {
		width: 100vw; height: 100vh;
	}
  }

.Cube-container canvas {
	position: absolute; top: 0; left: 0;
}

.Cube-container.bright {
    opacity: 1;
}
  
.Cube-container.mediumBright {
	opacity: .5;
}

.Cube-container.dark {
	opacity: .33;
}

.Cube-container.black {
	opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
	.Cube-container.fullSize.fadeFast {
	  animation: Fading-Timer forwards 900s linear;
	}
	.Cube-container.fullSize.fadeSlow {
	  animation: Fading-Timer forwards 6400s linear;
	}
  }
  
  @keyframes Fading-Timer {
	to {
	  opacity: 0;
	}
  }

.inverted {
	transform: rotateX(180deg) scaleX(-1);
}